<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(title = 'tickets')}"></head>

<body>
    <main class="container">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
        <section class="row">
            <div class="col-12">
                <h1>Lista dei Ticket</h1>
                <div th:insert="~{fragments/ticket-table :: table}"></div>
                <h3 class="alert alert-warning" th:unless="${tickets.size() > 0}">
                    There are no tickets available at this moment... Try again later!
                </h3>
            </div>
        </section>
    </main>
</body>

</html>