<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <th:block th:fragment="form">

        <form th:action="@{/ticket/note/create}" method="post" th:object="${newNote}">
            <input type="hidden" th:field="*{author}">
            <input type="hidden" th:field="*{creationDateTime}">
            <input type="hidden" th:field="${ticket.id}">
            <div class="form-control bg-dark text-white mt-3">
                <div class="note-header">
                    <span class="user-name">Created by: <span sec:authentication="name"></span></span>
                    <span></span>
                    <span class="note-date">Date: <span th:text="*{creationDateTime}"à></span></span>
                </div>
                
                <textarea class="bg-dark text-white form-control border-0 shadow-none" th:field="*{text}"></textarea>
                
                <div class="note-footer mt-3 d-flex justify-content-end">
                    <button class="btn btn-dark" type="submit">Save Note</button>
                </div>
            </div>
        </form>

    </th:block>

</body>
</html>