<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     
     <th:block th:fragment="table">
        <table class="table mb-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Category</th>
                    <th>State</th>
                    <th>Operator</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{text}"></td>
                    <td th:text="*{category}"></td>
                    <td th:text="*{state}"></td>
                    <td th:text="*{operator}"></td>
                    <td th:text="*{creationDate}"></td>
                    <td>
                        <a type="button" class="btn btn-primary" th:href="@{|/ticket/*{id}/edit|}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
 
</body>
</html>